:root {
  --primary-color: #f05454;
  --secondary-color: #222831;
  --dark-color: #30475e;
  --light-color: #fff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

.postgridContainer {
  height: 800px;
  width: 60%;
  font-family: "Lato", sans-serif;
  margin: 20px;
  float: left;
}

.postgridTitle {
  background-color: var(--secondary-color);
  border-left: 5px solid var(--primary-color);
  height: 30px;
  margin-top: 30px;
  padding-right: 5px;
}

.postgridTitle > p {
  color: white;
  font-weight: 700;
  padding-top: 3px;
}

.postgridBoxContainer {
  margin-top: 30px;
  margin-left: 3px;
  height: 700px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.postgridBox {
  height: 90%;
  width: 98%;
  background-color: violet;

  margin: 2px;
}
.postgridBox > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 852px) {
  .postgridBoxContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .postgridContainer {
    height: 1050px;
    width: 90%;
  }
}
